.bg {
    
    background-image: url(../img/bgp.jpg)
}
.bgt {
    
    background-color: rgba(240, 249, 255, 0.87);
    background-size:contain
    
        
}

}
.bg3 {
    
    background-color: white;
    background-size:contain
    
        
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-style:italic;
    
    
    
}

h3 {
    font-family: serif;
    color: darkblue;
    font-style: bold;
    
}